* {
    margin: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
    border: 1px solid black;
}

.row {
    display: flex;
    flex: 1;
}

.grid {
    flex: 1;
}
 .color {
    background-color: red;
 }